<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PutnamPuzzlesUser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>409A95B869D61A2FF417C4BAD49853FAC729B54D</string>
				<key>dateExpires</key>
				<string>8/30/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>409A95B869D61A2FF417C4BAD49853FAC729B54D</string>
						<key>dateExpires</key>
						<string>8/30/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>WBB5NFBL57</string>
						<key>name</key>
						<string>Elijah Greene</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WBB5NFBL57.org.reactjs.native.example.PutnamPuzzlesUser</string>
				<key>com.apple.developer.team-identifier</key>
				<string>WBB5NFBL57</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PutnamPuzzlesUser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9b6a0e83-df83-4def-ae19-1d5b93847fdd</string>
				<key>dateExpires</key>
				<string>9/13/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WBB5NFBL57</string>
				<key>name</key>
				<string>Elijah Greene</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
